h1{
    color: darkslateblue;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}
#fotoPerfil{
    margin-left: 79px;
}
#datos{ 
    height: 100px;
    width: 500px;
    background-color: antiquewhite;
}
#fondo{
    width: 500px;
    background-color: beige;
    margin: 0 auto;
}
#gustos{
    width: 500px;
    background-color: aquamarine;
    padding-bottom: 5px;
}
#juegos{
    width: 500px;
    background-color: darkgray;
    font-style: oblique;
    padding-bottom: 3px;
}
#especial{
    font-style: italic;
    font-weight: bold;

}